body {
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	/*background-image: url('../images/traffic.png');*/
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.header {
		margin-left: auto;
		margin-right: auto;
    background-color: #534BAE;
		padding-bottom: 1.0em;
}

.navbar-header {
  padding-top: 1.0em;
}
.logo {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 1.5em;
  text-decoration: none;
	color: white;

}
.logo:hover, .logo:active, .logo:focus {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 1.5em;
  color: white;
  text-decoration: none;

}
.content {
	text-align: center;
	padding-top: 25%;


}
.heading {

}
.text_heading {
	color: #534BAE;
	font-size: 1.8em;
}
.btn-group {
	padding: 0.4em;
	box-shadow: 0.1em 0.1em 0.5em grey;
	background-color: white;
	margin-top: 1.0em;

}
.input_location {
	border: none;
}
.search {
	background-color: white;
	border: none;
}
.fa-search {
	color: #534BAE;
}
